service: infra-lambdas

custom:
  secrets: ${file(secrets.json)}

provider:
  name: aws
  runtime: nodejs8.10
  stage: ${opt:stage, 'dev'}
  region: eu-central-1
  environment:
    SLACK_TOKEN: ${self:custom.secrets.token}
    CHANNEL_ESCAPIFY: ${self:custom.secrets.channel_escapify}
    CHANNEL_KAAS: ${self:custom.secrets.channel_kaas}

functions:
  ecs:
    handler: handlers/aws/ecs/index.ecs
    events:
      - cloudwatchEvent:
          event:
            source:
              - "aws.ecs"
            detail-type:
              - "ECS Task State Change"
  codepipeline:
    handler: handlers/aws/codepipeline/index.codepipeline
    events:
      - cloudwatchEvent:
          event:
            source:
              - "aws.codepipeline"
            detail-type:
              - "CodePipeline Pipeline Execution State Change"
  toggles-server:
    handler: handlers/toggles/index.server
    events:
      - http:
          path: toggles/server
          method: get
          cors: true

  toggles-app:
    handler: handlers/toggles/index.app
    events:
      - http:
          path: toggles/app
          method: get
          cors: true


plugins:
  - serverless-offline